[submodule "libswiftnav"]
	path = libswiftnav
	url = ssh://git@github.com/swift-nav/libswiftnav-private.git
[submodule "ChibiOS-RT"]
	path = ChibiOS
	url = ssh://git@github.com/swift-nav/ChibiOS
[submodule "libsbp"]
	path = libsbp
	url = ssh://git@github.com/swift-nav/libsbp.git
