[submodule "libswiftnav"]
	path = libswiftnav
	url = https://github.com/swift-nav/libswiftnav.git
[submodule "ChibiOS-RT"]
	path = ChibiOS
	url = https://github.com/swift-nav/ChibiOS
[submodule "libsbp"]
	path = libsbp
	url = https://github.com/swift-nav/libsbp.git
[submodule "gdb_chibios"]
	path = gdb_chibios
	url = https://github.com/gsmcmullin/gdb_chibios.git
