.*.sw*
core-*
ext/ext.c
.DS_Store
.gdbinit
docs/html
*.o
*.a
*.d
*.hex
*.elf
*.list
*.srec
*.bin
*.map
*.pyc
*.csv
*.obs
*.swp
scripts/pyinstaller/build
scripts/pyinstaller/dist
build/
testing_crap/
scripts/RELEASE-VERSION

/scripts/testing/hub_ctrl
/scripts/testing/bootload_log*

.cproject
.project
.settings/

