.gdbinit
docs/html
*.o
*.a
*.d
*.hex
*.elf
*.list
*.srec
*.bin
*.map
*.pyc
*.gcno
*.gcda
*.swp
libswiftnav/lcov
/tags
/libopencm3_for_ctags
libswiftnav/tests/check_libswiftnav
docs/diagrams/*.aux
docs/diagrams/*.log
docs/diagrams/*.pdf
docs/diagrams/*.png
libswiftnav/python/build
libswiftnav/python/swiftnav/*.c
.DS_Store
